---
layout: default
title: Poxetos
---

<section class="projects">



  <ul class="project-list">
    {% for projeto in site.projetos %}
    <li class="project-item  active" data-filter-item data-category="web development">
      <a href="{{projeto.url}}">

        <figure class="blog-banner-box">
          {% if projeto.cover != null and projeto.cover != "" %}
          <img src="/assets/projetos/{{projeto.cover}}" alt="Capa" loading="lazy">
          {% else %}
          <img src="/assets/img/notfound.jpg" alt="Capa" loading="lazy">
          {% endif %}

        </figure>


        <h3 class="project-title">{{ projeto.title }}</h3>

        <p class="project-category">{{ projeto.subtitle }} </p>

      </a>
    </li>
    {% endfor %}


  </ul>

</section>