<footer id="footer">
    <div class="about-text">
        <p style="text-align: center;">&copy; 2023 yurastico</p>

        <ul class="navbar-list">
            <li><a class="rss" href="https://rambo.codes/feed.rss">RSS feed</a></li>
            <li><a class="youtube" href="https://www.youtube.com/channel/UCwYC4WLy1kVb0rjtr0PZNTw?app=desktop">Youtube</a></li>
            <li><a class="twitter" href="https://twitter.com/yurastico">Twitter</a></li>
            <li><a class="github" href="https://github.com/yurastico">Github</a></li>
        </ul>
    </div>
  
</footer>

